body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	font-weight: 300;
}

body > div {
	width: 50%;
	height: 6em;
	float: left;
	box-sizing: border-box;
	color: white;
}

#a { padding: 0 0.25em 0 0 }
#b { padding: 0 0 0 0.25em }

[data-used-by] {
	padding: 0.5em;
	margin: 0 0 0.5em 0;
	height: 6em;
	border-radius: 2px;
	font-size: 18px;
}